section.fastest 
    .container
        .fastest__row.row 
            .fastest__col.fastest__col-left.col-xl-6
                h2.fastest__title.title Fastest way to organize
                p.fastest__sub-title.sub-title Most calendars are designed for teams. Slate is designed for freelancers
                a.fastest__btn.btn Try For Free
                
            .fastest__col.fastest__col-right.col-xl-6
                img(src="./images/design/macbook.webp", alt="").fastest__img