footer.footer
    .container
        .footer__row.row 
            .footer-col.col-xl-2.col-lg-2.col-md-2.col-sm-6
                h5.footer-col__title Pages
                ul.footer-col__list 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Home 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Product 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Pricing 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") About 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Contact 
                        
            .footer-col.col-xl-2.col-lg-2.col-md-3.col-sm-6
                h5.footer-col__title Tomothy 
                ul.footer-col__list 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Eleanor Edwards
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Ted Robertson 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Annette Russell 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Jennie Mckinney 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Gloria Richards 
                        
            .footer-col.col-xl-3.col-lg-3.col-md-3.col-sm-6
                h5.footer-col__title Jane Black
                ul.footer-col__list 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Philip Jones 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Product 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Colleen Russell 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Marvin Hawkins 
                    li.footer-col__list-item
                        a.footer-col__list-link(href="") Bruce Simmmons 
            
            .footer-col.col-xl-4.col-lg-4.col-md-4.col-sm-6
                a(href="").footer__address 
                    i.fas.fa-map-marker-alt.footer__address-icon
                    span.footer__address-text 7480 Mockingbird Hill undefined 
                    
                a(href="").footer__mobile 
                    i.i.fas.fa-mobile-alt.footer__mobile-icon
                    span.footer__mobile-text (239) 555-0108 
                
                
                .footer__sociaty.sociaty 
                    a.sociaty__link(href="") 
                        i.fab.fa-twitter.sociaty__link-icon 
                    a.sociaty__link(href="") 
                        i.fab.fa-facebook-square.sociaty__link-icon 
                    a.sociaty__link(href="") 
                        i.fab.fa-linkedin.sociaty__link-icon 