header.header 
    .header__container
        nav.navbar 
            a.navbar__logo(href="")
                img(src="./images/content/logo.webp", alt="").navbar__logo-img
            
            .navbar__sidebar 
                ul.navbar-menu
                    li.navbar-menu__item 
                        a(href="").navbar-menu__link Home
                    li.navbar-menu__item 
                        a(href="").navbar-menu__link Product
                    li.navbar-menu__item 
                        a(href="").navbar-menu__link Pricing
                    li.navbar-menu__item 
                        a(href="").navbar-menu__link About
                    li.navbar-menu__item 
                        a(href="").navbar-menu__link Contact
                        
                .navbar__sociaty.sociaty 
                    a.sociaty__link(href="") 
                        i.fab.fa-twitter.sociaty__link-icon 
                    a.sociaty__link(href="") 
                        i.fab.fa-facebook-square.sociaty__link-icon 
                    a.sociaty__link(href="") 
                        i.fab.fa-linkedin.sociaty__link-icon 
                        
            button.navbar__burger
                -for (var x = 0; x < 4; x++)
                    span.navbar__burger-line       
                        