section.partners 
    .container 
        h2.partners__title.title Partners
        p.partners__sub-title.sub-title Most calendars are designed for teams. Slate is designed for freelancers
        
        .partners-brands
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/google.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/amazon.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/microsoft.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/uber.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/drob.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/google.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/uber.webp", alt="").partners-brands__img
            a(href="").partners-brands__brand
                p.partners-brands__text Client Name
                img(src="./images/content/amazon.webp", alt="").partners-brands__img
        
        .partners__btn-wrapper
            a.partners__btn.btn Try For Free    