section.partners 
    .container 
        h2.partners__title.title Partners
        p.partners__sub-title.sub-title Most calendars are designed for teams. Slate is designed for freelancers
        
        .partners__brands  
        
        
        .partners__btn-wrapper
            a.partners__btn.btn Try For Free    