section.pricing 
    .container
        h2.pricing__title.title Pricing
        p.pricing__sub-title.sub-title Most calendars are designed for teams. Slate is designed for freelancers
        
        .pricing__card-container 
            .pricing-card
                h4.pricing-card__title FREE
                p.pricing-card__sub-title Organize across all apps by hand
                p.pricing-card__price
                    span.pricing-card__price-number 0
                    span.pricing-card__price-text 
                        span.pricing-card__price-text-symbol $ 
                        span.pricing-card__price-text-about Per Month
                        
                ul.pricing-card__list
                    -for(var x = 0; x < 5; x++)
                        li.pricing-card__list-item Pricing Feature
                        
                a(href="").pricing-card__btn.btn Order Now
                
            .pricing-card
                h4.pricing-card__title STANDARD
                p.pricing-card__sub-title Organize across all apps by hand
                p.pricing-card__price
                    span.pricing-card__price-number 10
                    span.pricing-card__price-text 
                        span.pricing-card__price-text-symbol $ 
                        span.pricing-card__price-text-about Per Month
                        
                ul.pricing-card__list
                    -for(var x = 0; x < 5; x++)
                        li.pricing-card__list-item Pricing Feature
                        
                a(href="").pricing-card__btn.btn Order Now
                
            .pricing-card
                h4.pricing-card__title BUSINESS
                p.pricing-card__sub-title Organize across all apps by hand
                p.pricing-card__price
                    span.pricing-card__price-number 99
                    span.pricing-card__price-text 
                        span.pricing-card__price-text-symbol $ 
                        span.pricing-card__price-text-about Per Month
                        
                ul.pricing-card__list
                    -for(var x = 0; x < 5; x++)
                        li.pricing-card__list-item Pricing Feature
                        
                a(href="").pricing-card__btn.btn Order Now
                