section.start 
    .start__background
    h1.start__title The best products start with Figma
    p.start__sub-title.sub-title Most calendars are designed for teams. Slate is designed for freelancers
    a.start__btn.btn(href="") Try For Free 