section.subscribe 
    .container 
        .subscribe__row.row
            .subscribe__col.subscribe__col-left.col-xl-8.col-lg-7
                img(src='./icons/newsletter.svg', alt="").subscribe__img
            .subscribe__col.subscribe__col-right.col-xl-4.col-lg-5
                .subscribe__col-title
                    p.subscribe__top-title.top-title At your fingertips
                    h2.subscribe__title.title Lightning fast prototyping 
                
                form(action="").subscribe-form
                    h4.subscribe-form__title Subscribe to our Newsletter
                    p.subscribe-form__text  Available exclusivery on Figmaland
                    
                    .subscribe-form__wrapper
                        input(type="text" placeholder = "Your Email").subscribe-form__input
                        button.subscribe-form__btn.btn Subscribe