section.testimonials
    .container 
        h2.testimonials__title.title Testimonials
        
        .testimonials__wrapper 
            .testimonials-review
                img(src="./images/content/ibm.webp", alt="").testimonials-review__logo
                p.testimonials-review__text Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                .testimonials-review__people
                    img(src="./images/content/people.webp", alt="").testimonials-review__people-img
                    .testimonials-review__people-text
                        p.testimonials-review__people-text-org Organize across
                        p.testimonials-review__people-text-prof Ui designer
        
        .testimonials__btn-wrapper
            a.testimonials__btn.btn More Testimonials                 
                    