.fastest{
    padding: 290px 0 280px;
    &__row{
        
    }
    &__col{
        &-left{
            
        }
        &-right{
            
        }
    }
    &__title{
        max-width: 335px;
        text-align: left;
    }
    &__sub-title{
        text-align: left;
        margin-bottom: 70px;
    }
    
    &__btn{
        
    }
    &__img{
        
    }
}